.login {
    display: flex;

    .loginContainer {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        min-width: 450px;
        display: flex;  
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        border-radius: 15px;
        overflow: hidden;

        .errmsg {
            color: red;
            padding-left: 25px;
        }
        .offscreen {
            display: none;
        }

        .left,
        .right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .left { 
            flex: 1;
            background-color: #fec30e;

            .leftHead {
                background-color: #ee264a;
                height: 50px;
            }
        }
        .right { 
            flex: 5; 
            .rightHead {
                display: flex;
                background-color: #13dbdb;
                height: 50px;
                align-items: center;
                color: white;
                padding-left: 20px;

                h2 {
                    padding: 5px;
                }
            }
            form {
                padding: 10px;
            }
        }
    }
}