.content {
    border-radius: 12px;

    .header-actions {
        display: flex;
        flex-direction: column;
        margin: 0px 28px;

        .labelTitle {
            color: #4845d2;
        }

        .dateSearch {
            display: flex;
            justify-content: space-between;
        }
    }
}