.agentWallet {
    padding: 15px;
    h2 {
        text-align: center;
        font-weight: 900;
        font-size: 30px;
        color: #515151;
    }
    h3{
        text-align: center;
        font-weight: 900;
        color: #515151;
    }
    .title {
        margin: 5px 0 5px 0;
    }
    .paymentbgc {
        background: #4298e1;
    }
    .divgateway {
        padding: 15px;
        .content {
            width: 60%;
            margin-left: 20%;
            border-radius: 15px;

            .inputClass {
                margin-bottom: 5px;
            }
        }
        .divnote {
            width: 60%;
            margin-left: 20%;
            background: #c53131;
            margin-top: 0;
            border-radius: 0;
            padding: 15px;
            color: white;
            text-align: center;
        }
    }
}