.branch {
    margin: 30px 15px 0 15px;

    .container {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        border-radius: 10px;
        margin-bottom: 20px;

        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #444444;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            border-radius: 10px;
            padding: 15px;
            background-color: #f7fafc;

            .title {
                font-weight: 800;
                margin: 0;
            }

            button {
                background-color: #38a169;
            }
        }

        .bottom {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 15px;

            .search {
                width: 100%;

                .MuiInputBase-root {
                    padding: 0;

                    .MuiInputAdornment-root {
                        background: #edf2f7;
                        padding: 20px;
                        cursor: pointer;
                    }
                }
            }

            .companyList {
                background-color: #e9f0f3;
                border-radius: 10px;
                padding: 10px;
                width: 100%;

                table {
                    thead>tr>th {
                        font-weight: 600 !important;
                    }

                    .btnShow {
                        background: #fec30e !important;
                        color: black;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}