@import "../../../helper/colors";

.draw-result-container {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.219);
  color: white;
  padding: 20px;
  text-align: center;
  border-top: solid 0.5px $yellow;
  border-bottom: solid 0.5px $yellow;
}

.results-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-size: 24px;
  width: 50%;

  .result-date-container {
    display: flex;
    gap: 10px;
    align-items: center;
    background: linear-gradient(to right, red, $yellow);
    border-radius: 20px;
    padding: 5px 8px;

    .time-container {
      color: $dark-grey;
      background: white;
      border-radius: 20px;
      font-size: 15px;
      padding: 0px 5px;
    }

    p {
      font-size: 15px;
    }
  }

  .reel {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    gap: 10px;

    .reel-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 240px;
      height: 115px;
      padding: 0px 8px;
      text-align: center;
      color: $dark-grey;
      background: url("../../../assets/slot-container.png");
      background-size: contain;
      background-repeat: no-repeat;

      .reel-digit {
        flex: 1;
        text-align: center;
      }
    }
  }

  .operator {
    font-size: 14px;
    font-weight: 100;
  }
}

.game-types-side {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
}

.game-type-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  .amount {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 12px;
  }
}