.content {
    
    .div-multiplier {
        .mult-body{
            align-items: center;
            justify-content: center;
            h1{
                color: #4845d2;
                font-size:40px;
                text-align: center;
            }
            p{
                color: #4845d2;
                text-align: center;
                padding:0;
                margin:0;
            }
        }
    }
}
