.divMechanics {
    padding: 15px;

    .searchContent {
        margin: 25px 0 30px 0;
        display: flex;

        .left {
            flex: 1;
            text-align: right;
            margin-right: 15px;
        }

        .center {
            flex: 2;
        }
    }

    .divSearch {
        display: flex;

        .searchContent {
            flex: 1;
        }
    }

    .divContent {
        display: flex;
        .left, .center {
            width: 450px;
        }
        .center {
            margin-left: 30px;
        }

        .ulContent {
            padding: 30px;
            text-align: center;
        }
    }
}
