.content {
    
    .div-multiplier {
        display:flex;
        gap: 20px;
        flex-wrap: wrap;
        
        .edit-button {
            border: 1px solid rgba(221, 107, 32, 1);
            color:rgba(221, 107, 32, 1);
        }
        
        .mult-body{
            align-items: center;
            justify-content: center;
            h1{
                color: #4845d2;
                font-size:40px;
                text-align: center;
            }
            p{
                color: #4845d2;
                text-align: center;
                padding:0;
                margin:0;
            }
        }
    }
}
