$background: #f4f3fc;
$violet-main: #4845d2;
$green: #14a44d;
$light-yellow: #fff5c5;
$yellow: #ffda18;
$sky-blue-higlight: #17a1fa;
$red-warn: #dc4c64;
$dark-grey: #403d39;
$transparent-font: #403d3980;
$violet-hover: #ffffff20;
