.divProfileInfo {
    padding: 20px;
    .row {
        display: flex;
        width: 100%;
        margin-bottom: 15px;

        .form-block {
            label { display: block; }
            img {
                border-radius: 50%;
                width: 200px;
                height: 200px;
                border: 2px solid #dad9d9;
            }

            .imgFiles {
                border-radius: 10px !important;
                margin: 10px !important;
                width: 180px !important;
                border:none;
            }
            .uploadbtn {
                margin-top: 15px;
                margin-bottom: 15px;
                label {
                    display: inline-flex;
                    width: 85%;
                    margin-bottom: 15px;
                }
            }
            .div-attachemet {
                border: 1px solid green;
                height: 200px;
                margin-bottom: 15px;
                width: 200px;
                border-radius: 10px;
                overflow: hidden;
                span {
                    margin: 15px;
                }
            }
        }
    }
}