.agentWallet {
    background: #f4f3fc;
    padding: 15px;
    .div-head {
        background: white;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        border-radius: 5px;
        margin: 15px;

        ul {
            list-style: none;
            display: flex;
            padding: 5px;
            li {
                margin: 5px;
                padding: 5px 15px 5px 15px;
                border-radius: 10px;
                color: #4845d2;
                font-weight: 600;
                font-size: 14px;
                cursor: pointer;
            }
            .li-active {
                background: #4845d2;
                color: white !important;
            }
        }
    }

    .div-balance {
        display: flex;
        background: #4845d2;
        border-radius: 5px;
        margin: 15px;
        overflow: hidden;
        .div1 {
            width: 100%;
            color: white;
            text-align: center;
            padding: 15px;
        }
        .div2 {
            width: 350px;
            background: #e4a11d;
            text-align: center;
            padding: 15px;
            color: #2d3748;
            h1{
                margin-top: 35px;
            }
        }
    }

    .div-table {
        background: white;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        border-radius: 5px;
        margin: 15px;
        .div-table-head {
            display: flex;
            padding: 15px;
            .title {
                font-weight: 700;
                margin: 0;
                text-transform: capitalize;
                color: #4845d2;
            }
        }
    }
}