.sidebar {
    flex: 1.4;
    width:300px;
    height: 100vh;
    background-color: white;
    color: #4845d2;
    position: relative;
    svg {
        color: #4845d2;
    }

    .top {
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #4845d2;

        .logo {
            width:100%;
        }
    }

    .foot {
        width:100%;
        position: absolute;
        bottom:0;
        z-index: 0;
        .foot-logo {
            width: 100%;
            display: flex;
        }
    }
}