.add-button {
    background-color: #38A169;
    color: white;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: bold;
}

.cancel-button {
    background-color: rgba(0, 0, 0, 0.05);
    color: black;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 10px;
}

.update-button {
    background-color: orange;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 10px;
}