$defaultPad: 5px;

.App {
    .p-15 {
        padding: 15px;
    }
    .c-green { color: #08f553;}
    .c-red { color: #9d0404;}
    .row {
        display: flex;
        margin-bottom: 15px;
        .col-1 {  padding: $defaultPad; width: 8.33%; }
        .col-2 {  padding: $defaultPad; width: 16.66%; }
        .col-3 {  padding: $defaultPad; width: 24.99%; }
        .col-4 {  padding: $defaultPad; width: 33.32%; }
        .col-5 {  padding: $defaultPad; width: 41.65%; }
        .col-6 {  padding: $defaultPad; width: 49.98%; }
        .col-7 {  padding: $defaultPad; width: 58.31%; }
        .col-8 {  padding: $defaultPad; width: 66.64%; }
        .col-9 {  padding: $defaultPad; width: 74.97%; }
        .col-10 { padding: $defaultPad;  width: 83.3%; }
        .col-11 { padding: $defaultPad;  width: 91.63%; }
        .col-12 { padding: $defaultPad;  width: 100%; }
        .labelTitle {
            text-align: right;
            padding-top: 15px;
        }
        .txtright {
            text-align: right;
        }

    }
    .center { text-align: center; }
    .elemShow { display: block; }
    .elemHide { display: none; }

    .title { text-transform: uppercase; }

    .btn-success {
        border: 1px solid #38a169;
        text-transform: capitalize;
        color: green;
    }

    .btn-error {
        border: #e53e3e;
        text-transform: capitalize;
        color: white;
        background: #e53e3e;
        &:hover {
            color: black;
        }
    }

    .btn-warning {
        border: 1px solid #dd6b20;
        text-transform: capitalize;
        background: #dd6b20;
        color: white;
        &:hover {
            color: black;
        }
    }

    .active-b {
        background: rgba(25, 118, 210, 0.2);
        border-radius: 5px;
    }

    .div-table {
        margin: 30px 15px 0 15px;
        .div-container {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            border-radius: 10px;
            margin-bottom: 20px;
            background: white;
            width: 100%;

            .div-head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #444444;
                border-radius: 10px;
                padding: 15px;
                .title {
                    font-weight: 700;
                    margin: 0;
                    color: #4845d2;
                }
            }

            .div-content {
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                gap: 15px;

                .div-search {
                    width: 100%;
                    .MuiInputBase-root {
                        padding: 0;
                        .MuiInputAdornment-root {
                            background: #edf2f7;
                            padding: 20px;
                            cursor: pointer;
                        }
                    }
                }
            }

            .div-table-list {
                border-radius: 10px;
                padding: 20px;
                width: 100%;
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                
                table {
                    thead>tr>th {
                        font-weight: 600 !important;
                        color: #4845d2;
                    }

                    .btnEdit {
                        background: #dd6b20 !important;
                        color: white;
                        text-transform: capitalize;
                    }

                    .btnShow {
                        background: #fec30e !important;
                        color: black;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}