.divGameResult {
    padding: 15px;
    .divballResult {
        display: flex;
        .left {
            flex: 2;
            margin-right: 5px;

            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #444444;
                padding: 15px;
                background-color: #f7fafc;
        
                .title {
                    font-weight: 800;
                    margin: 0;
                }
        
                button {
                    background-color: #38a169;
                }

                span {
                    font-size: 20px;
                }
            }

            .numContent {
                display: flex;
                background-color: #f7fafc;
                .left, .right {
                    flex: 1;
                    padding: 15px;

                    .circleContainer {
                        margin-bottom: 5px;
                        // width: 315px;
                        display: flex;
                        .spanOpTitle {
                            font-size: 25px;
                        }

                        .div-title {
                            width: 70px;
                            padding-top: 10px;
                        }
                        .div-values {
                            width: 270px;
                        }
                    }
                    .spanTitle {
                        margin-right:  20px;
                    }

                    span.circle {
                        background:#fce22b;
                        border-radius: 50%;
                        -moz-border-radius: 50%;
                        -webkit-border-radius: 50%;
                        color: black;
                        display: inline-block;
                        font-weight: bold;
                        line-height: 35px;
                        margin-right: 5px;
                        margin-bottom: 5px;
                        text-align: center;
                        width: 40px;
                        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                        box-shadow: 2px 4px 10px 1px rgb(46 44 44 / 47%);
                        border: 2px solid #959090;
                    }
                }
            }
        }
        .right {
            flex: 1;
            padding: 15px;
            background-color: #f7fafc;
            
            .rtContent {
                // text-align: center;
                margin-top: 30px;
                width: 350px;
                span,b {
                    font-size: 20px;
                    margin-top: 5px;
                }
            }
        }
    }
}